<!DOCTYPE html>
<html>
  <head>
    <title>Airbnsqueeze</title>
    <link rel="icon" href="<%=asset_path('logoGreen.png')%>" type="image/icon type">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}" %>
    <link href="https://fonts.googleapis.com/css2?family=Palanquin:wght@100;400;500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a2bdb82061.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user %>
      <script>
        window.currentUser = <%= render('api/users/user.json.jbuilder', user: current_user).html_safe %> 
      </script>
    <% end %>
    <script>
      window.splashImg = "<%= asset_path('splash.jpg')%>"
      window.nothingImg = "<%= asset_path('nothing.jpg') %>"
      window.ithaca = "<%= asset_path('ithaca.jpg') %>"
      window.boulder = "<%= asset_path('boulder.jpg') %>"
      window.santaCruz = "<%= asset_path('santacruz.jpg') %>"
      window.luxury = "<%= asset_path('luxury.jpg') %>"
      window.couples = "<%= asset_path('couples.jpg') %>"
      window.family = "<%= asset_path('family.jpg') %>"
      window.unique = "<%= asset_path('unique.jpg') %>"
      window.logoGreen = "<%= asset_path('logoGreen.png') %>"
      window.logoWhite = "<%= asset_path('logoWhite.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
